.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
doc
.yardoc/
Gemfile.lock

# Ignore application configuration
/spec/dummy/config/application.yml

coverage
**/*.swp
.DS_Store
*.gem
